.subscribe-container {
    width: 1430px;
    height: 96px;
    padding: 103px 91px;
    text-align: center;
    top: 3108px;
    gap: 248px;
    background-color: #ffefec;
    margin: 0;
    display: flex;
    position: absolute;
}
.subscribe-text {
    display: flex;
    flex-direction: column;
    width: 675px; /* Hug (675px) */
    height: 96px; /* Hug (96px) */
}

.subscribe-bold-text {
    width: 597px;
    height: 58px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    letter-spacing: 0.005em;
    color: #000000;
    margin: 0;
}

.subscribe-normal-text {
    width: 675px;
    height: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.005em;
    color: #000000;
    text-align: left;
}

.subscribe-input-button {
    width: 470px;
    height: 62px;
    position: absolute;
}

.subscribe-input {
    width: 470px;
    height: 62px;
    top: 17px;
    left: 923px;
    border-radius: 31.5px;
    background-color: #ffffff;
    position: absolute;
    border: none;
    /* padding-left: 24px; To align text within the input */
}
.subscribe-input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    letter-spacing: 0.5%;
    color: #afafaf; /* Placeholder text color */
    position: absolute;
    top: 23px;
    left: 24px;
}

.subscribe-button {
    position: absolute;
    width: 85px;
    height: 52px;
    top: 23px;
    left: 1305px;
    border-radius: 56px;
    background-color: #ff5331;
    border: none;
    cursor: pointer;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.subscribe-button span {
    width: 94px;
    height: 22px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.78px;
    color: #ffffff;
}
