.food-delivery-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 4138px;
    background-color: #ffffff;
}
