.dishes-container {
    width: 622px;
    height: 163px;
    position: absolute;
    gap: 17px;
    display: flex;
    flex-direction: column;
    top: 899px;
    align-items: center;
    justify-content: center;
}

.dishes-bold-text {
    width: 622px;
    height: 116px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 46px;
    line-height: 58px;
    letter-spacing: -1%;
    text-align: center;
    margin: 0;
    /* position: absolute; */
}

.dishes-bold-text .number {
    font-weight: 600;
}
.dishes-normal-text {
    width: 514px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -1%;
    color: #191720;
    margin: 0;
    white-space: nowrap;
}

.dishes-bold-text .number {
    color: #ff5331;
    font-weight: bold;
}

@media only screen and (max-width: 1400px) {
    .dishes-container {
        top: 799px;
    }
}
@media only screen and (max-width: 1400px) {
    .dishes-container {
        top: 699px;
    }
}
